body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;

    background-color: #f9f9f9;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header
================*/

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100px;
}

.header__inner {
    padding: 35px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #515369;
    align-items: center;
}

/* Nav
================*/

.nav {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
}

.nav__link {
    margin-left: 50px;
    color: #000;
    text-decoration: none;
    opacity: .65;

    transition: opacity .2s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {

    opacity: 1;
}

.burger {
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 9px 2px;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #299499;
    font-size: 0;
    color: transparent;
    position: relative;
}

.burger__item:before,
.burger__item:after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #299499;
    position: absolute;
    left: 0;
    z-index: 1;
}

.burger__item:before {
    top: -8px;
}

.burger__item:after {
    bottom: -8px;
}


/* Intro
================*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 720px;
    padding-top: 100px;
    background-color: #f9f9f9;
    background-image: url("img/header.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

/*
.intro__inner {
    max-width: 970px;
    width: 100%;
    margin: 0 auto;


}
*/

.intro__title {
    font-size: 80px;
    color: #299499;
    font-weight: 400;
    line-height: 1.1;
    margin-top: 100px;
    margin-bottom: 10px;
}

.intro__title.bold {
    font-weight: 700;
   margin-top: 0;
    margin-bottom: 10px;
}

.intro__subtitle {
    font-size: 30px;
    font-weight: 400;
    color: #0d4a4d;
    line-height: 2.2;
    margin-bottom: 20px;
}

/* Button
================*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;

    border-radius: 20px;
    border: 0;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    color: #299499;
    font-weight: 400;
    text-decoration: none;

    transition: background .1s linear;
}

.btn-white {
     background-color: #fff;
}

.btn-white:hover {
    background-color: #299499;
    color: #fff;
}

/* Latest courses
================*/
.latest{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 70px;

}

.latest__title {
    text-align: center;
    border-bottom: 3px solid #379ba0;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-left: 20%;
    margin-right: 20%;

}

.latest__inner {
    display: flex;
    flex-wrap: wrap;

}

.latest__item {
    width: 33.33333%;

    padding: 0 30px;
    margin-bottom: 30px;

}


/* Course card
================*/

.course__card {
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;

    transition: box-shadow .2s linear;
}

.course__card:hover {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

}


.card__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.card__body {
   padding: 20px;
    background-color: #ffffff;
    color: #444444;


}

.card__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.card__info {
    display: inline-block;
    vertical-align: top;
    padding: 5px 15px;
    border-radius: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.card__category {
    color: #fff;
    background-color: #52bfb6;
}

.card__language {
    color: #52bfb6;
    border-color: #52bfb6;
    border: 1px solid;
}

.card__description {
    font-size: 17px;
    font-weight: 400;
}

/*       Small card          */

.card__body.small {
   padding: 15px;
}

.card__title.small {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.card__info.small {
    padding: 5px 10px;
    border-radius: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 12px;
}


.card__language.small {
    color: #52bfb6;
    border-color: #52bfb6;
    border: 1px solid;
}

.card__description.small {
    font-size: 12px;
    font-weight: 400;
}



/* Course card
================*/

.footer {
    background-image: url("img/footer.png");
    background-repeat: no-repeat;
    background-position: center;
/*    height: 170px;*/
}

.footer__inner{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    color: #fff;
}

.footer__item {
    width: 25%;
    text-align: center;
    padding: 0 15px;
}


/* Social
================*/

.social {
    display: flex;

}

.social--footer {
    justify-content: center;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;
    background-color: #fff;

    border: 1px solid #e8ecee;

    transition: background .1s linear;
}

.social__item:hover {
    background-color: #e8ecee;
    cursor: pointer;
}

.social__item:hover .social__icon {
    fill: #000;
}

.social__icon {
    display: block;
    height: 18px;
    fill: #c6cacc;

    transition: fill .1s linear;
}

.social--footer .social__item {
    background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}

.social--footer .social__icon {
    fill: #fff;
}

.social--footer .social__item:hover  {
    background-color: #fff;
}



















/*#########################  Courses.html   #############################################*/

.header__courses {
    background-color: #fff;
}

.courses__Hinner {
    border-bottom: 0px;
}

.courses {
    padding-top: 100px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.courses__nav {
    width: 25%;
    min-height: 660px;
    background-color: #299499;
    padding-top: 60px;
    display: flex;
    flex-direction: column;

}

.nav__category {
    height: 40px;
    color: #fff;
    display: flex;
    font-size: 25px;
    padding: 7px 7px;
    margin-left: 30px;

    transition: font-weight .1s linear;
}

.nav__category.active {
    background-color: #34bdc3;
    font-weight: 700;
    margin-left: 10px;
    padding-left: 30px;
}

.nav__category:hover {
    cursor: pointer;
    font-weight: 700;
}

.nav__category.active:hover {
    font-weight: 800;
}

.courses__inner {
    display: flex;
}

.courses__block {
    width: 75%;
    padding-left: 20px;
}

.courses__explore {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid #4cbdb7;
}

.explore__title {
    font-size: 30px;
    font-weight: 700;
    color: #3f4a4d;
}

.explore__pages {
    display: flex;
    align-items: center;
}

.explore__prev {
    background-color: transparent;
    background-image: url("img/prev.png");
    width: 15px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.explore__next {
    margin-left: 20px;
    background-color: transparent;
    background-image: url("img/next.png");
    width: 15px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.courses__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.course__item {
    width: 33.33333%;
    padding: 10px;
}




























/* Media
================*/
/*#######################      1200px     ###################################*/

@media (max-width: 1200px) {

.intro {
    height: 570px;
    padding-top: 50px;
    padding-left: 50px;
    }

    .nav {
    font-size: 16px;
    }

    .latest {
        margin-bottom: 20px;

    }

    .latest__item {
        padding: 0 10px;
    }

    .footer__inner {
        padding: 30px 0;
    }

    .container {
        padding: 0;
    }

    .courses__block {
        margin-right: 15px;
    }

}
/*#######################      991px      ###################################*/
@media (max-width: 991px) {

    .container{
        padding: 0px;
    }

    .header__inner {
        padding: 20px;
    }

    .nav {
    font-size: 15px;
}

.nav__link {
    margin-left: 30px;
}

    .intro {
    height: 470px;
    padding-top: 0px;
    padding-left: 50px;
    }

    .intro__title {
    font-size: 60px;
    margin-bottom: 5px;
    }

    .intro__title.bold {
    margin-bottom: 5px;
    }

    .intro__subtitle {
        font-size: 25px;
        margin-bottom: 10px;
    }


    .btn {
        font-size: 16px;
    }

    .latest {
        margin-bottom: 30px;
    }

    .latest__title {
        font-size: 28px;
        margin-left: 20%;
        margin-right: 20%;
    }

    .latest__item {
        padding: 0 10px;
    }

    .card__body {
        padding: 15px;
    }

    .card__title {
        font-size: 20px;
    }

    .card__info {
        margin-bottom: 4px;
        font-size: 12px;
    }

    .card__description {
    font-size: 14px;
    }

    .footer__inner {
        padding: 30px 0;
    }

/*  Courses page  */
    .courses{
        padding-top: 60px;
    }

    .courses__nav {
        padding-top: 30px;
    }

    .explore__pages {
        margin-right: 20px;
    }

    .nav__category {
        margin-left: 10px
    }

    .nav__category.active {
        padding-left: 18px;
    }

    .course__item {
        width: 50%;
        padding: 15px;
    }

}

@media (max-width: 730px) {
    .nav__category {
        font-size: 20px;
    }

    .course__item {
        width: 50%;
        padding: 10px;
    }
}


/*#######################      660px      ###################################*/

@media (max-width: 660px) {

    .header__img {
        width: 60%;
    }

    .nav {
    display: none;
        position: absolute;
        right: 0;
        padding-right: 20px;
        top: 65%;
        flex-direction: column;
        width: 50%;
        text-align: right;
        background-color: #299499;
        padding-bottom: 10px;

}
    .nav.show {
        display: flex;
    }

.nav__link {
    margin-top: 10px;
    color: white;
    font-size: 22px;
    font-weight: 400;
}

    .burger {
        display: block;

    }

/*
    .nav {
    font-size: 10px;
}

.nav__link {
    margin-left: 10px;
}
*/

    .intro {
    height: 310px;
    padding-top: 0px;
    padding-left: 20px;
    }

    .intro__title {
    font-size: 35px;
    margin-bottom: 5px;
        margin-top: 70px;
    }

    .intro__title.bold {
    margin-bottom: 5px;
    }

    .intro__subtitle {
        font-size: 18px;
        margin-bottom: 10px;
    }


    .btn {
        font-size: 12px;
        padding: 8px 15px;
    }

    .latest {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .latest__title {
        font-size: 15px;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 5px;
    }

    .latest__item {
        padding: 0 3px;
    }

    .card__body {
        padding: 10px;
    }

    .card__title {
        font-size: 16px;
    }

    .card__info {
        margin-bottom: 0px;
        font-size: 8px;
        padding: 2px 9px;
    }

    .card__description {
    font-size: 9px;
    }

    .footer__inner {
        padding: 10px 0;
    }

    .footer__item {
        padding: 0 15px;
        font-size: 8px;
    }

    .social__icon {
        height: 9px;
    }

    .social__item {
        width: 20px;
        height: 20px;
    }


/*  Courses page  */

    .courses {
        padding-top: 40px
    }

    .courses__block {
        padding-left: 10px;
    }

    .courses__nav {
        padding-top: 20px;
        min-height: 0;
    }

    .nav__category {
        font-size: 16px;
    }

    .explore__title {
        font-size: 22px;
    }

    .course__item {
        padding: 5px;
    }

    .card__body.small {
       padding: 10px;
    }

    .card__title.small {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .card__info.small {
        padding: 5px 5px;
        margin-bottom: 5px;
        font-size: 10px;
    }


    .card__language.small {
        color: #52bfb6;
        border-color: #52bfb6;
        border: 1px solid;
    }

    .card__description.small {
        font-size: 11px;
        font-weight: 400;
    }

    .courses__block {
        margin-right: 5px;
    }


}

/*#######################      514px      ###################################*/

@media (max-width: 514px) {

 .header__img {
        width: 70%;
    }

    .nav__link {
        font-size: 16px;
    }

    .intro {
    height: 420px;
    padding-top: 0px;
    padding-left: 10px;
    }

    .intro__title {
    font-size: 45px;
    margin-bottom: 15px;
        margin-top: 100px;
    }

    .intro__title.bold {
    margin-bottom: 15px;
    }

    .intro__subtitle {
        font-size: 25px;
        margin-bottom: 10px;
    }


    .btn {
        font-size: 20px;
        padding: 8px 15px;
    }

    .latest {
        margin-top: 8px;
        margin-bottom: 0;
    }

    .latest__title {
        font-size: 20px;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 5px;
    }

    .latest__item {
        padding: 0 23px;
        width: 100%;
    }

    .card__body {
        padding: 20px;
    }

    .card__title {
        font-size: 18px;
    }

    .card__info {
        margin-bottom: 0px;
        font-size: 14px;
        padding: 3px 19px;
        margin-bottom: 10px;
    }

    .card__description {
    font-size: 15px;
    }

    .footer {
        background-image: none;
        background-color: #299499;
    }

    .footer__inner {
        padding: 10px;
    }

    .footer__item {
        width: 100%;
        font-size: 18px;
        padding: 0px 15px;
        margin-bottom: 10px

    }

    .social--footer {
        width: 100%;
    }

    .social__icon {
        height: 18px;
    }

    .social__item {
        width: 50px;
        height: 50px;
    }

/*  Courses page  */
    .courses {
        padding-top: 45px
    }

    .courses__nav {
        width: 35%;
    }

    .courses__block {
        width: 65%;
    }

    .nav__category {
        font-size: 13px;
        margin-left: 0;
        padding: 11px 7px;
    }

    .nav__category.active {
        margin-left: 0;
    }

    .explore__title {
        font-size: 16px;
    }

    .course__item {
        width: 100%;
        padding: 11px;
    }

}


