body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;

    background-color: #f9f9f9;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header
================*/

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100px;
}

.header__inner {
    padding: 25px;
/*    padding-left: 0;*/
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #515369;
    align-items: center;
}

/* Nav
================*/

.nav {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.nav__link {
    margin-left: 50px;
    color: #000;
    text-decoration: none;
    opacity: .65;

    transition: opacity .2s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {

    opacity: 1;
}

.burger {
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 9px 2px;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000;
    font-size: 0;
    color: transparent;
    position: relative;
}

.burger__item:before,
.burger__item:after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    left: 0;
    z-index: 1;
}

.burger__item:before {
    top: -8px;
}

.burger__item:after {
    bottom: -8px;
}

.lang__select {
    background-color: transparent;
    border: 0;
    font-size: inherit;
    font-weight: inherit;
    opacity: 0.65;
    margin-left: 10px;
}

.lang__select:hover {
    opacity: 1;
    cursor: pointer;
}

/* person menu dropdown
===========================================================*/
.person__main__image {
    cursor: pointer;
}

.person__menu {
    display: none;
    position: absolute;
    top: 65%;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius:10px;
    padding: 0px 30px;
    padding-top: 10px;
    z-index: 999;



}

.person__menu.show__menu {
    display: flex;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.person__menu__item {
    margin-bottom: 10px;
    color: #000;
    opacity: .65;
}


/* Intro
================*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 720px;
    padding-top: 100px;
    background-color: #f9f9f9;
    background-image: url("img/new_header_low.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

/*
.intro__inner {
    max-width: 970px;
    width: 100%;
    margin: 0 auto;


}
*/

.intro__title {
    font-size: 80px;
    color: #ffffff;
    font-weight: 400;
    line-height: 1.1;
    margin-top: 100px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px black;
}

.intro__title.bold {
    font-weight: 700;
   margin-top: 0;
    margin-bottom: 10px;
}

.intro__subtitle {
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    line-height: 2.2;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px black;
}

/* Button
================*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;

    border-radius: 20px;
    border: 0;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    color: #299499;
    font-weight: 400;
    text-decoration: none;

    transition: background .1s linear;
}

.btn-white {
    background-color: #fff;
    box-shadow: 1px 1px 1px black;
    border: 1px solid transparent;
}

.btn-small {
    padding: 10px 30px;
}

.btn-white:hover {
    background-color: #299499;
    color: #fff;
    border: 1px solid #fff;
}

.btn-red {
    color: #fff;
    background-color: #f05959;
    box-shadow: 1px 1px 1px black;
    border: 1px solid transparent;

}

.btn-login {
    background-color: #299499;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 6px;
}

.btn-login:hover {
    background-color: #fff;
    color: #299499;
    border: 1px solid;
    border-color: #299499;
}

.btn-login-register {
    padding: 10px 20px;
    font-size: 15px;
}

.btn-course {
    background-color: #299499;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid;
    border-color: #299499;
    border-radius: 9px;
}



.btn-course.new {
    background-color: #0bc27f;
    border-color: #0bc27f;
}

.btn-course.controls {
    background-color: #5f6e68;
    border-color: #5f6e68;
}

.btn-course:hover {
    background-color: #fff;
    color: #299499;
    border: 1px solid;
    border-color: #299499;
}

/* Latest courses
================*/
.latest{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 70px;

}

.latest__title {
    text-align: center;
    border-bottom: 3px solid #379ba0;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-left: 20%;
    margin-right: 20%;

}

.latest__inner {
    display: flex;
    flex-wrap: wrap;

}

.latest__item {
    width: 33.33333%;

    padding: 0 30px;
    margin-bottom: 30px;

}


/* Course card
================*/

.course__card {
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;

    transition: box-shadow .2s linear;
}

.course__card:hover {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

}


.card__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.card__body {
   padding: 20px;
    background-color: #ffffff;
    color: #444444;


}

.card__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.card__info {
    display: inline-block;
    vertical-align: top;
    padding: 5px 15px;
    border-radius: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.card__category {
    color: #fff;
    background-color: #52bfb6;
}

.card__language {
    color: #52bfb6;
    border-color: #52bfb6;
    border: 1px solid;
}

.card__description {
    font-size: 17px;
    font-weight: 400;
}

/*       Small card          */

.card__body.small {
   padding: 15px;
}

.card__title.small {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.card__info.small {
    padding: 5px 10px;
    border-radius: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 12px;
}


.card__language.small {
    color: #52bfb6;
    border-color: #52bfb6;
    border: 1px solid;
}

.card__description.small {
    font-size: 12px;
    font-weight: 400;
}



/* Course card
================*/

.footer {
    background-image: url("img/footer.png");
    background-repeat: no-repeat;
    background-position: center;
/*    height: 170px;*/
}

.footer__inner{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    color: #fff;
}

.footer__item {
    width: 25%;
    text-align: center;
    padding: 0 15px;
}


/* Social
================*/

.social {
    display: flex;

}

.social--footer {
    justify-content: center;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;
    background-color: #fff;

    border: 1px solid #e8ecee;

    transition: background .1s linear;
}

.social__item:hover {
    background-color: #e8ecee;
    cursor: pointer;
}

.social__item:hover .social__icon {
    fill: #000;
}

.social__icon {
    display: block;
    height: 18px;
    fill: #c6cacc;

    transition: fill .1s linear;
}

.social--footer .social__item {
    background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}

.social--footer .social__icon {
    fill: #fff;
}

.social--footer .social__item:hover  {
    background-color: #fff;
}



















/*#########################  Courses.html   #############################################*/

.header__courses {
    background-color: #fff;
}

.courses__Hinner {
    border-bottom: 0px;
}

.courses {
    padding-top: 100px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.courses__nav {
    width: 25%;
    min-height: 660px;
    background-color: #299499;
    padding-top: 60px;
    display: flex;
    flex-direction: column;

}

.nav__category {
    height: 40px;
    color: #fff;
    display: flex;
    font-size: 25px;
    padding: 7px 7px;
    margin-left: 30px;

    transition: font-weight .1s linear;
}

.nav__category.active {
    background-color: #34bdc3;
    font-weight: 700;
    margin-left: 10px;
    padding-left: 30px;
}

.nav__category:hover {
    cursor: pointer;
    font-weight: 700;
}

.nav__category.active:hover {
    font-weight: 800;
}

.courses__inner {
    display: flex;
}

.courses__block {
    width: 75%;
    padding-left: 20px;
}

.courses__explore {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid #4cbdb7;
}

.explore__title {
    font-size: 30px;
    font-weight: 700;
    color: #3f4a4d;
}

.explore__pages {
    display: flex;
    align-items: center;
}

.explore__prev {
    background-color: transparent;
    background-image: url("img/prev.png");
    width: 15px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.explore__next {
    margin-left: 20px;
    background-color: transparent;
    background-image: url("img/next.png");
    width: 15px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.courses__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.course__item {
    width: 33.33333%;
    padding: 10px;
}


/*#########################  login.html   ###################################*/

.login__Hinner {
    border-bottom: 1px solid #299499;
}

.login {
    margin-top: 190px;
    margin-bottom: 200px;
}

.login__inner {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
}

.login__image {
    width: 35%;

}

.login__img {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.login__body {
    width: 65%;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 120px;
    background-color: #fff;
}



.login__title {
    font-size: 35px;
    font-weight: 700;
    color: #299499;
    margin-bottom: 25px;
}

.login__form {
    margin-top: 10px;
}

.form__title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #444444;
}

.login__input {
    height: 30px;
    width: 100%;
    border: 0;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.login__buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

/*#########################  register.html   ############################*/

.register__body {
    width: 75%;
    background-color: #fff;
    padding: 30px;
}

.register__inner {
    display: flex;
    flex-wrap: wrap;
}

.register__image {
    width: 25%;
}

.register__img {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.register__title {
    font-size: 35px;
    font-weight: 700;
    color: #299499;
    margin-bottom: 25px;
}

.register__forms {
    display: flex;
    flex-wrap: wrap;
}

.register__form {
    margin-top: 20px;
}

.register__user {
    width: 50%;
    padding: 0 20px;
}

.register__person {
    width: 50%;
    padding: 0 20px;
}

.form__select {
    height: 30px;
    width: 100%;
    border: 0;
    background-color: #f1f1f1;
    font-size: 15px;
}

.register__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}



/*#########################  course.html   ##################################*/

.course__title{
    margin-top: 100px;
    height: 150px;
    background-color: #299499;
    color: #f8f8f8;
    display: flex;
    align-items: center;
}

.course__content {
    margin-bottom: 100px;
}

.course__title .title__text {
    font-size: 60px;
    font-weight: 700;
}

.info__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.info__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 15px;

}

.info__mentorimg {
    margin-right: 20px;
    max-width: 60px;
    border-radius: 50%;
}

.info__buttons {
    display: flex;
}

.course__content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.course__left {
    width: 65%;
    padding-right: 20px;
}

.course__right {
    width: 35%;
    padding-left: 20px;

}

.course_img {
    width: 100%;
    border-radius: 9px;
}

.course__extra {
    margin-top: 30px;

    padding-bottom: 0px;
}

.extra__nav {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #299499;
}

.extra__nav__item {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    color: #bcbebf;
    font-size: 20px;

    transition: color .1s linear;
}

.extra__nav__item:first-child {
    padding-left: 0px;
}

.extra__nav__item:hover {
    cursor: pointer;
    color: #000;
}

.extra__nav__item.extra__active {
    border-bottom: 2px solid #299499;
    color: #000;
}

.extra__content {
    margin-top: 20px;

}

.extra__description {

}

.content__lesson {
    font-size: 20px;
    margin-top: 10px;
}

.extra__lessons {
    display: none;


}

.description__title {
    font-size: 25px;
    font-weight: 800;
    color: #444444;
}

.description__text {
    margin-top: 20px;
    font-size: 20px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.content__title {
    font-size: 25px;
    font-weight: 800;
    color: #444444;
}

.control__buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 4px;
}

.cb__item {
    margin-right: 10px;
}

.course__features{
    margin-top: 20px;
}

.features__title {
    font-size: 29px;
    font-weight: 800;
    color: #3f4a4d;
    border-bottom: 3px solid #299499;
    padding-bottom: 5px;
}

.features__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.features__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.features__left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.features__name {
    margin-left: 20px;
    font-size: 23px;
    font-weight: 500;
    padding-bottom: 5px;
}

.features__variable {
    font-size: 23px;
    font-weight: 500;
}

.course__recommend {

}

.recommend__item {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;

    transition: box-shadow .2s linear;

}

.recommend__item:hover {
        cursor: pointer;
     -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

    }

.recommend__img {
    width: 78px;
    height: 78px;
}

.recomment__name {
    font-size: 23px;
    font-weight: 500;
    color: #3d4c50;
    margin-left: 20px;
    width: 70%;
}


/*#########################  progress.html   ###############################*/

.progress__inner {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.progress__nav {
    width: 25%;
    display: block;
}

.nav__button {
    display: none;
}

.back__btn {
    background-color: #3f4a4d;
    display: flex;
    height: 60px;
    align-items: center;
    padding-left: 15px;
}

.back__btn__img {
    width: 28px;
    height: 28px;
}

.back__btn__title {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 15px;
}

.progress__nav__container {
    padding: 15px;
}

.progress__title {
    color: #3f4a4d;
    font-size: 30px;
    font-weight: 600;
}

.progress__bar {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 10px;
}

.bar__complete {
    border-bottom: 5px solid #299499;
    width: 30%;
}

.bar__incomplete {
    border-bottom: 5px solid #91c6c9;
    width: 70%;
}

.progress__complete {
    color: #3f4a4d;
    font-size: 16px;
}

.progress__lesson {
    margin-top: 20px;
}

.progress__lesson__title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid #d1d1d1;
    margin-bottom: 10px;
}

.lesson__title {
    font-size: 20px;
    color: #3f4a4d;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.lesson__title__circle {
    margin-right: 5px;
}

.lesson__themes__count {
    font-size: 20px;
}

.lesson__arrow {
    margin-left: 20px;
    display: none;
}

.lesson__themes {
/*    padding-left: 25px;*/
}

.theme__item {
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    align-items: center;
    cursor: pointer;
}

.theme__item.active {
    background-color: #d9d9d9;
    border-radius: 10px;
}

.theme__circle {
    margin-right: 5px;
    width: 12px;
    height: 12px;
}

.theme__title {
    font-size: 20px;
    color: #3f4a4d;
    display: flex;
    align-items: center;
}

.theme__info {
    margin-left: 25px;
    margin-top: 5px;
    font-size: 10px;
    color: #a0a0a0;
    text-transform: uppercase;

}

.theme__info__item {
    display: flex;
}

.theme__info__title {
    margin-left: 5px;
}

.progress__content {
    width: 75%;

}

.theme__content {
    border-left: 3px solid #b7b7b7;
}

.progress__buttons {

    display: flex;
    flex-wrap: wrap;
}

.change__lecture {
    width: 50%;
    height: 60px;
    border-left: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 15px;
}

.change__lecture.prev {
    background-color: #3f4a4d;
}

.prev_lecture_img {
    margin-right: 10px;
    margin-top: 4px;
}

.change__lecture.next {
    background-color: #299499;
}

.next_lecture_img {
    margin-top: 4px;
    margin-left: 10px;
}

.change__lecture:hover {
    cursor: pointer;
}

.video__iframe {
    height: 700px;
    width: 95%;
}

.theme__video {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.theme__container {
    margin-top: 50px;
    padding: 0px 160px;
}



.question__title {
    color: #3f4a4d;
    font-size: 30px;
    font-weight: 600;
}

.quiz__answers {
    margin-top: 30px;
}

.answer {
    display: flex;
    padding: 15px;
    border: 1px solid #c5c5c5;
    align-items: center;
    margin-bottom: 20px;
}

.radio {
  transform:scale(3);
  opacity:0.9;
  cursor:pointer;
    margin-left: 10px;
}

.answer__text {
    font-size: 18px;
    color: #4c5658;
    margin-left: 25px;
}



.theme__image__img {
    width: 100%;
}

.theme__text {
    color: #3f4a4d;
    font-size: 20px;
}

/*#########################  mycourses.html   ############################*/


.mycourses {
    margin-top: 100px;
    margin-bottom: 100px;
}

.mycourses__header {
    background-color: #299499;
    padding-top: 20px;
}

.mycourses__title {
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}

.mycourses__nav {
    display: flex;
    flex-wrap: wrap;
}

.mycourses__nav__item {
    font-size: 18px;
    color: #fff;
    margin-right: 35px;
    cursor: pointer;
    border-bottom: 5px solid #299499;

    transition: border linear .2s;
}

.mycourses__nav__item.extra__active {
    border-bottom: 5px solid #fff;
}

.mycourses__content {
    min-height: 600px;
}

.mycourses_inprogress {
    display: flex;
    flex-wrap: wrap;
}

.mycourses_inprogress.hide {
    display: none;
}

.mycourse__item {
    width: 33.33333%;
    padding: 20px 30px;
    padding-bottom: 0px;
}



.mycourse__progress__bar {
    display: flex;
    margin-bottom: 10px;
    margin-top: 15px;
}

.bar__complete.my__complete {
    border-bottom: 7px solid #52bfb6;
    border-radius: 5px;
}

.bar__incomplete.my__incomplete {
    border-bottom: 7px solid #ebebeb;
    border-radius: 5px;
}

.showFlex {
    display: flex;
    flex-wrap: wrap;
}

/* collapse
===========================================================*/

.collapsible {
    cursor: pointer;
}

.collactive,
.collapsible:hover {

}

.collaps__content {
    max-height: 0;
    overflow: hidden;

    transition: max-height 0.2s ease-out;
}

.collaps__content.collshow {
    max-height: none;
}

/* My mentor
================*/

.mymentor__title {
    background-color: #299499;
    margin-top: 100px;
    padding: 40px 0px;

}

.mymentor__title__inner {
    display: flex;
    padding: 0 25px;
}

.mymentor__img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 1px 1px 1px #000;

    transition: .35s linear;
}

.mymentor__img:hover {
    box-shadow: 5px 5px 5px #000;
}

.mymentor__info {
    padding-left: 55px;
}

.mymentor__name {
    font-size: 52px;
    font-weight: 700;
    color: #fff;
    max-width: 700px;
    text-shadow: 1px 1px 1px #000;
}

.mymentor__profession {
    font-size: 30px;
    color: #fff;
    margin-bottom: 10px;
    max-width: 60%;
}

.mymentor__content {
    display: flex;
    margin-bottom: 100px;
}

.mymentor__left {
    width: 60%;
}

.mymentor__right {
    display: flex;
    justify-content: center;
    width: 40%;
}

.mymentor__extra {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.mymentor__info__item {
    display: flex;
    font-size: 18px;
    color: #aea9a9;
}

.mymentor__info__title {
    margin-right: 10px;
}

.mymentor__description {
    color: #424748;
    font-size: 20px;
    margin-top: 30px;
}

.button__delete {
    margin-top: 20px;
}


































/* Media
================*/
/*########### ############      1300px     ################### ################*/

@media (max-width: 1300px) {



}


/* Media
================*/
/*#######################      1200px     ###################################*/

@media (max-width: 1200px) {

.intro {
    height: 570px;
    padding-top: 50px;
    padding-left: 50px;
    }

    .nav {
    font-size: 16px;
    }

    .latest {
        margin-bottom: 20px;

    }

    .latest__item {
        padding: 0 10px;
    }

    .footer__inner {
        padding: 30px 0;
    }

    .container {
        padding: 0;
    }

    .courses__block {
        margin-right: 15px;
    }

    .login {
        margin-top: 90px;

    }

    .login__body {
        padding-left: 40px;
        padding-right: 40px;
    }

    .course__title{
        padding-left: 30px;
    }
    .course__content{
        padding-left: 30px;
        padding-right: 30px;
    }

    .features__name, .features__variable {
        font-size: 20px;
    }

    .recomment__name {
        width: 60%;
    }
    /*#########################  progress.html   ###########################*/
    .progress__inner {
        margin-top: 80px;
    }

    .back__btn {
        height: 50px;
    }

    .lesson__title {
        font-size: 18px;
    }

    .change__lecture {
        height: 50px;
    }

    .video__iframe {
        height: 500px;
    }

    .theme__container {
        padding: 0 80px;
        margin-top: 20px;
    }

    /*#########################  mycourses.html   ###########################*/
    .mycourses {
        margin-top: 80px;
    }

    .mycourses__header {
        padding-left: 30px;
        padding-top: 10px;
    }

    .mycourses__title {
        margin-bottom: 10px;
    }

    .mycourse__item {
        padding: 15px 15px;
        padding-bottom: 0px;
    }

    .mymentor__content {
        padding-left: 25px;
    }

}
/*#######################      991px      ###################################*/
@media (max-width: 991px) {

    .container{
        padding: 0px;
    }

    .header__inner {
        padding: 20px;
    }

    .nav {
    font-size: 15px;
}

.nav__link {
    margin-left: 30px;
}

    .intro {
    height: 470px;
    padding-top: 0px;
    padding-left: 50px;
    }

    .intro__title {
    font-size: 60px;
    margin-bottom: 5px;
    }

    .intro__title.bold {
    margin-bottom: 5px;
    }

    .intro__subtitle {
        font-size: 25px;
        margin-bottom: 10px;
    }


    .btn {
        font-size: 16px;
    }

    .latest {
        margin-bottom: 30px;
    }

    .latest__title {
        font-size: 28px;
        margin-left: 20%;
        margin-right: 20%;
    }

    .latest__item {
        padding: 0 10px;
    }

    .card__body {
        padding: 15px;
    }

    .card__title {
        font-size: 20px;
    }

    .card__info {
        margin-bottom: 4px;
        font-size: 12px;
    }

    .card__description {
    font-size: 14px;
    }

    .footer__inner {
        padding: 30px 0;
    }

/*  Courses page  */
    .courses{
        padding-top: 60px;
    }

    .courses__nav {
        padding-top: 30px;
    }

    .explore__pages {
        margin-right: 20px;
    }

    .nav__category {
        margin-left: 10px
    }

    .nav__category.active {
        padding-left: 18px;
    }

    .login__inner{
        padding-left: 5px;
        padding-right: 5px;
    }

    .course__item {
        width: 50%;
        padding: 15px;
    }

    .course__title{
        padding-left: 20px;
    }
    .course__content{
        padding-left: 20px;
        padding-right: 20px;
    }

    .course__title {
        height: 80px;
        margin-top: 70px;
    }

    .course__title .title__text {
        font-size: 40px;
    }

    .info__inner {
        padding-bottom: 15px;
    }

    .info__item {
        font-size: 11px;
    }

    .info__mentorimg {
        width: 35px;

    }

    .course__left {
        padding-right: 10px;
    }

    .course__right {
    padding-left: 10px;
}
    .btn-course {
        padding: 5px 10px;
    }

    .course__extra {
        margin-top: 15px;
    }

    .extra__nav__item {
        font-size: 17px;
    }

    .extra__content {
        margin-top: 10px;
    }

    .content__lesson {
        font-size: 17px;
        margin-top: 6px;
    }

    .description__title , .content__title {
        font-size: 23px;
    }

    .description__text {
        margin-top: 8px;
        font-size: 17px;
    }

    .course__features{
        margin-top: 10px;
    }

    .features__title {
        font-size: 23px;
    }

    .features__content {
        margin-bottom: 0px;
    }

    .features__item {
        margin-bottom: 25px;
    }

    .features__name {
        margin-left: 10px;
        font-size: 18px;
    }

    .features__variable {
        font-size: 18px;
    }

    .recommend__item {
        margin-top: 20px;
    }



    .recommend__img {
        width: 50px;
        height: 50px;
    }

    .recomment__name {
        font-size: 18px;
    }

    /*#########################  progress.html   #######################*/
    .progress__inner {
        margin-top: 70px;
    }

    .back__btn {
        height: 40px;
    }

    .back__btn__title {
        font-size: 13px;
        margin-left: 8px;
    }

    .progress__nav__container {
        padding: 10px;
    }

    .progress__title {
        font-size: 21px;
    }

    .progress__bar {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .progress__complete {
        font-size: 14px;
    }

    .progress__lesson {
        margin-top: 10px;
    }

    .progress__lesson__title {
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    .lesson__title {
        font-size: 15px;
    }

    .lesson__themes__count {
        font-size: 12px;
    }

    .lesson__themes {
        padding-left: 15px;
    }

    .theme__title {
        font-size: 13px;
    }

    .theme__info {
        font-size: 8px;
    }

    .change__lecture {
        height: 40px;
        font-size: 13px
    }

    .video__iframe {
        height: 300px;
    }

    .theme__container {
        padding: 0 40px;
    }

    .question__title {
        font-size: 20px;
    }

    .quiz__answers {
        margin-top: 15px;
    }

    .answer {
        padding: 8px;
        margin-bottom: 10px;
    }

    .radio {
        transform:scale(2.5);
    }

    .answer__text {
        font-size: 15px
    }

    .register__image {
        display: none;
    }

    .register__body {
        padding: 0;
        width: 100%;
        margin: 10px 20px;
    }

    .register__title {
        display: flex;
        justify-content: center;
    }

    /*#########################  mycourses.html   ###########################*/
    .mycourses {
        margin-top: 80px;
    }

    .mycourses__header {
        padding-left: 20px;
        padding-top: 10px;
    }

    .mycourses__title {
        margin-bottom: 10px;
    }

    .mycourse__item {
        padding: 10px 10px;
        padding-bottom: 0px;
        padding-left: 0;

    }

    .mycourses__content {
        padding-left: 10px;
    }

    .mymentor__content {
        display: block;
        padding: 0 30px;
    }

    .mymentor__left , .mymentor__right {
        width: 100%;
    }

    .mymentor__title {
        margin-top: 70px;
    }

}


/*#######################      730px      ###################################*/
@media (max-width: 730px) {
    .nav__category {
        font-size: 20px;
    }

    .course__item {
        width: 50%;
        padding: 10px;
    }

    .btn-course {
        font-size: 13px;
    }





}


/*#######################      660px      ###################################*/

@media (max-width: 660px) {

    .header__img {
        width: 60%;
    }

    .nav {
        display: none;
        position: absolute;
        right: 0;
        padding: 0 20px;
        top: 65%;
        flex-direction: column;
        text-align: center;
        background-color: #299499;
        padding-bottom: 10px;
        border: 2px solid #fff;
        border-radius:10px;


}
    .nav.show {
        display: flex;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }



.nav__link {
    margin-top: 10px;
    color: white;
    font-size: 22px;
    font-weight: 400;
    text-shadow: 2px 2px 2px black;
    margin-left: 0;
}

    .burger {
        display: block;

    }
    .person__menu__dropdown {

    }

    .person__menu {
        right: 0;
        text-shadow: 0 0 0;
    }

    .lang__select {
        margin-top: 10px;
        color: #fff;
        text-shadow: 2px 2px 2px black;
    }

    .lang__option {
        color: #000;
    }

/*
    .nav {
    font-size: 10px;
}

.nav__link {
    margin-left: 10px;
}
*/

    .intro {
    height: 310px;
    padding-top: 0px;
    padding-left: 20px;
    }

    .intro__title {
    font-size: 35px;
    margin-bottom: 5px;
        margin-top: 70px;
    }

    .intro__title.bold {
    margin-bottom: 5px;
    }

    .intro__subtitle {
        font-size: 18px;
        margin-bottom: 10px;
    }


    .btn {
        font-size: 12px;
        padding: 8px 15px;
        -webkit-box-shadow: 5px 5px 22px -5px rgba(34, 60, 80, 0.6);
-moz-box-shadow: 5px 5px 22px -5px rgba(34, 60, 80, 0.6);
box-shadow: 5px 5px 22px -5px rgba(34, 60, 80, 0.6);
    }

    .latest {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .latest__title {
        font-size: 15px;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 5px;
    }

    .latest__item {
        padding: 0 3px;
    }

    .course__card {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

}

    .card__body {
        padding: 10px;

    }

    .card__title {
        font-size: 16px;
    }

    .card__info {
        margin-bottom: 0px;
        font-size: 8px;
        padding: 2px 9px;
    }

    .card__description {
    font-size: 9px;
    }

    .footer__inner {
        padding: 10px 0;
    }

    .footer__item {
        padding: 0 15px;
        font-size: 8px;
    }

    .social__icon {
        height: 9px;
    }

    .social__item {
        width: 20px;
        height: 20px;
    }


/*  Courses page  */

    .courses {
        padding-top: 40px
    }

    .courses__block {
        padding-left: 10px;
    }

    .courses__nav {
        padding-top: 20px;
        min-height: 0;
    }

    .nav__category {
        font-size: 16px;
    }

    .explore__title {
        font-size: 22px;
    }

    .course__item {
        padding: 5px;
    }

    .card__body.small {
       padding: 10px;
    }

    .card__title.small {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .card__info.small {
        padding: 5px 5px;
        margin-bottom: 5px;
        font-size: 10px;
    }


    .card__language.small {
        color: #52bfb6;
        border-color: #52bfb6;
        border: 1px solid;
    }

    .card__description.small {
        font-size: 11px;
        font-weight: 400;
    }

    .courses__block {
        margin-right: 5px;
    }

    .login {
/*
        margin-left: 30px;
        margin-right: 30px;
*/
        margin-left: 10px;
        margin-right: 10px;
    }

    .login__body {
        padding-left: 25px;
        padding-right: 25px;
    }

    .login__title {
        font-size: 30px;
    }

    .form__title {
        font-size: 15px;
    }

    .btn-course {
        padding: 5px 5px;
        font-size: 10px;
    }

    .info__inner {
        padding-bottom: 10px;
    }

    .info__item {
        font-size: 9px;
    }

    .info__mentorimg {
        margin-right: 10px;
        width: 26px
    }

    .course__title {
        margin-top: 60px;
        height: 60px;
    }

    .course__title .title__text {
    font-size: 30px;
}
    .course__content {
        padding-top: 10px;
    }

    .course__extra {
        margin-top: 10px;
    }

    .extra__nav__item {
        font-size: 15px;
        padding-bottom: 5px;
    }

    .extra__content {
        margin-top: 5px;
    }

    .description__title, .content__title {
        font-size: 18px;
    }

    .description__text {
        margin-top: 5px;
        font-size: 14px;
    }

    .control__buttons {
        margin-top: 0px;
    }

    .course__features {
        margin-top: 5px;
    }

    .features__title {
        font-size: 18px;
        padding-bottom: 2px;
        border-bottom: 2px solid #299499;
    }

    .features__content {
        margin-top: 10px;
    }

    .features__item {
        margin-bottom: 10px;
    }

    .features__name, .features__variable {
        font-size: 13px;
    }

    .recommend__item {
        margin-top: 10px;
    }

    .recommend__img {
        width: 40px;
        height: 40px;
    }

    .recomment__name {
        font-size: 13px;
        margin-left: 10px;
    }
    /*#########################  progress.html   ##########################*/

    .progress__nav {
        display: none;
    }

    .progress__content {
        width: 100%;
    }

    .change__lecture:first-child {
        border-left: 0;
    }

    .nav__button {
        width: 60px;
        position: fixed;
        display: block;
        top: 120px;
        background-color: rgba(255,255,255, 0.5);
        border: 2px solid #299499;
    }

    .nav__button.active {
        left: 70%;
    }

    .progress__nav.active {
        display: block;
        position: fixed;
        top: 110px;
        background-color: #fff;
        border: 3px solid #3f4a4d;
        border-radius: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        width: 70%;
        z-index: 9999;
    }

    .progress__title {
        font-size: 28px;
    }

    .lesson__title {
        font-size: 18px;
    }

    .lesson__themes__count {
        font-size: 18px;
    }

    .theme__title {
        font-size: 16px;
    }

    .theme__text {
        font-size: 15px;
    }

    .question__title {
        font-size: 18px;
    }

    .answer__text {
        font-size: 14px;
    }

    .theme__container {
        padding: 0 10px;
    }

    .video__iframe {
        padding: 0 10px;
        width: 100%;
    }

    .register__body {
        padding: 0;
        margin: 0;
    }

    /*#########################  mycourses.html   ###########################*/
    .mycourse__item {
        width: 50%;
        padding: 20px 10px;
        padding-bottom: 0px;
        padding-left: 0;
    }

    .mymentor__title {
        padding: 20px 0px;
    }

    .mymentor__info {
        padding-left: 20px;
    }

    .mymentor__name {
        font-size: 38px;
    }

    .mymentor__profession {
        font-size: 25px;
    }

}

/*#######################      514px      ###################################*/

@media (max-width: 514px) {

 .header__img {
        width: 70%;
    }

    .nav__link {
        font-size: 16px;
    }

    .intro {
    height: 420px;
    padding-top: 0px;
    padding-left: 10px;
    background-image: url("img/new_header_small_low.png");
    }

    .intro__title {
    font-size: 45px;
    margin-bottom: 15px;
        margin-top: 100px;
        text-shadow: 3px 3px 3px black, 0 0 1em black;
    }

    .intro__title.bold {
    margin-bottom: 15px;
    }

    .intro__subtitle {
        font-size: 25px;
        margin-bottom: 10px;
        text-shadow: 3px 3px 3px black, 0 0 1em black;
    }


    .btn {
        font-size: 20px;
        padding: 8px 15px;
    }

    .latest {
        margin-top: 8px;
        margin-bottom: 0;
    }

    .latest__title {
        font-size: 20px;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 5px;
    }

    .latest__item {
        padding: 0 23px;
        width: 100%;
    }

    .card__body {
        padding: 20px;
    }

    .card__title {
        font-size: 18px;
    }

    .card__info {
        margin-bottom: 0px;
        font-size: 14px;
        padding: 3px 19px;
        margin-bottom: 10px;
    }

    .card__description {
    font-size: 15px;
    }

    .footer {
        background-image: none;
        background-color: #299499;
    }

    .footer__inner {
        padding: 10px;
    }

    .footer__item {
        width: 100%;
        font-size: 18px;
        padding: 0px 15px;
        margin-bottom: 10px

    }

    .social--footer {
        width: 100%;
    }

    .social__icon {
        height: 18px;
    }

    .social__item {
        width: 50px;
        height: 50px;
    }

/*  Courses page  */
    .courses {
        padding-top: 45px;
        margin-bottom: 0;
    }

    .courses__nav {
        width: 35%;
    }

    .courses__block {
        width: 65%;
    }

    .nav__category {
        font-size: 13px;
        margin-left: 0;
        padding: 11px 7px;
    }

    .nav__category.active {
        margin-left: 0;
    }

    .explore__title {
        font-size: 16px;
    }

    .course__item {
        width: 100%;
        padding: 11px;
    }

    .login {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 70px;
        margin-bottom: 0;
    }

    .login__inner {
/*        display: block;*/
        display: flex;
        background-color: #299499;
        min-height: 600px;
    }

    .login__image {
/*
        width: 100%;
        height: 670px;
        position: relative;
*/
        display: none;
    }

    .login__input {
        border: 1px solid #299499;
    }

    .login__body {
        width: auto;
/*        position: absolute;*/
        top: 100px;
        left: 0;
        padding-top: 60px;
        padding-bottom: 60px;
        margin-left: 25px;
        margin-right: 25px;
        background-color: rgba(255,255,255,0.89);
    }

    .login__title {
        font-size: 25px;
    }

    .form__title {
        font-size: 15px
    }

    .btn-login {
        font-size: 15px;
    }

    .btn-login-register {
        font-size: 15px;
    }

    .course__content {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
    }

    .course__title  {
        text-align: center;
        padding-left: 0px;
    }


    .course__left , .course__right {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }

    .btn-course {
        padding: 10px 20px;
        font-size: 20px;
        font-weight: 500;
    }



    .info__inner {
        flex-wrap: wrap;
    }

    .info__item {
        width: 100%;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 5px;
        padding-left: 10px;

    }

    .info__item.info__buttons {
        justify-content: center;
        margin-top: 10px;
        padding-left: 0;
    }

    .item__data {
        display: flex;
        text-align: center;
    }

    .info__mentorimg {
        position: absolute;
        width: 40px;
        right: 0;
    }

    .item__text {
        margin-left: 20px;
    }

    .course__extra {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 15px;
    }

    .extra__nav__item {
        font-size: 15px;
    }

    .description__title , .content__title {
        font-size: 22px;
        margin-top: 10px;
    }

    .description__text {
        font-size: 18px;
    }

    .course__features {
        margin-top: 10px;
    }

    .features__title {
        font-size: 25px;
    }

    .features__item {
        margin-bottom: 15px;
        padding-right: 10px;
    }

    .features__name , .features__variable {
        font-size: 24px;
    }

    .features__name {
        margin-left: 20px;
    }

    .recommend__item {
        padding-left: 10px;
    }

    .recommend__img {
        width: 100px;
        height: 100px;
    }

    .recomment__name {
         font-size: 25px;
    }

    .register__title {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .register__user, .register__person {
        width: 100%;
    }

    .register__button {
        justify-content: center;
        margin-bottom: 20px;
    }

    .register {
        width: 200px;
    }

    /*#########################  mycourses.html   ###########################*/
    .mycourse__item {
        width: 100%;
        padding: 10px 20px;
    }

    .mycourses__content {
        padding-left: 0px;
    }

    .mymentor__title__inner {
        display: block;
    }

    .mymentor__image {
        display: flex;
        justify-content: center;
    }

    .mymentor__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mymentor__profession {

    }

    .mymentor__content {
        display: block;
    }

    .mymentor__extra {
        display: block;
        margin-top: 10px;
    }

    .mymentor__description {
        margin-top: 10px;
    }

}


